# API
PORT=8000 #Puetro de la API. Opcional. 8000 por defecto
DEV=true # Modo de desarrollo. Opcional. true por defecto

# Logs
LOG_DIR=logs # Directorio de logs. Opcional. './logs' por defecto
DEBUG=false # Modo de depuracion. Opcional. false por defecto

# Database
DB_CONN=postgresql://user:pass@host:port/db_name  # String de conexión a la DB. Es obligatorio